#header {
  background-image: linear-gradient(to right, #e9b274e7, #4871f7);
  padding: 30px 10px;
  margin-bottom: 10px;
}

#header * {
  vertical-align: middle;
}

#header img {
  width: 70px;
}

#header span {
  color: white;
  font-size: 200%;
  margin-left: 20px;
  text-shadow: 2px 2px #333;
}
